page-erfaring {

    .toolbar-background-ios {
        background: #ffffff;
    }
    
    .toolbar-background-md {
        border-color: #ffffff;
        background-color: #ffffff;
    }

    .kategori-liste .searchbar-md {
        padding: 0px 0px 0px 0;
    }

    // .kategori-liste {
    //     position: absolute;
    //     width: 96%;
    //     top: 16%;
    //     z-index: -1;
    //     display: block;
    //     height: 100%;
    // }
    
    .kategori-liste .col {
        // position: absolute;
        // padding:0;
    }
    
    .kategori-liste .col .item {
        // padding: 0;
    }
    
    .tinder-swiper-parent {
        display: none;
    }
    
    .tinder-swiper-parent.segmentShown {
        display: block;
    }
    
    .listevisning-parent {
        display: none;
    }
    .listevisning-parent.segmentShown {
        display: block;
    }
    
    .item-ios {
        padding-left: 0; 
        padding-left: 0; 
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }

    .swipListSegment {
        padding: 4px 0;
    }

    .segment-ios .segment-button, .segment-md .segment-button {
        height: 4.2rem;
    }
    
    .item-md {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .accordion-list {
        background-color:#e6e6df;
        height: 100%;
    }
    
    .section {
        background-color: #ebebeb;
        color: black;
        padding: 10px 0;
        /* margin-bottom: 4px; */
    }
    
    .section-active {
        background-color: #90c2ff;
        color: white;
        padding: 10px 0;

    }
    
    .child {
        background-color: rgb(131, 152, 136);
        color: black;
        margin-bottom: 0px 0 0px 0;    
    }
    
    
    .child-item {
        background-color: rgb(214, 214, 214);
        padding: 0px;
    }
    
    .label {
        margin: 0px 0 0 0;
    }
    
    .list {
        margin: 0 0 0 0;
    }
    
    .list-md .item[no-lines] .item-inner {
        border-width: 0;
        text-align: left;
    }

    .item-ios ion-icon[item-left], .item-ios ion-icon[item-right], .item-ios ion-icon[item-start], .item-ios ion-icon[item-end] {
        margin-left: 12px;
        margin-top: 9px;
        margin-bottom: 8px;
    }

    
    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
        margin-left: 12px;
        margin-top: 9px;
        margin-bottom: 8px;
    } 

    .list-header-md {
        padding-left: 0px;
        margin-bottom: 3px;
        min-height: 4.5rem;
        border-top: 1px solid #dedede;
        font-size: 1.4rem;
        color: #757575;
    }

    ion-app.md [padding] .scroll-content {
        padding: 1px; 
    }

    .subKategorier {
        padding: 12px 5px 12px 15px;

    }


    .searchbar-ios {
        padding: 10px 8px;
        min-height: 44px;
        border-top: 0.55px solid transparent;
        border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
        background: #ebebeb;
        margin: 0 0 4px 0;
    }

    .searchbar-ios .searchbar-input {
        padding: 23px 28px;
        border-radius: 5px;
        height: 3rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000;
        background-color: #fff;
    }

    .searchbar-ios .searchbar-search-icon {
        left: 9px;
        top: 17px;

    }

    .introSwip {
        text-align: center;
        margin: 60px 0 0 0px;
        position: absolute;
        padding: 0 30px;
        color: #918787;
        font-size: 14px;
    }



    .introSwip ion-img {
        display: inline-block;
        min-width: 20px;
        min-height: 20px;
        background: none;
        margin: 0 0 30px 0;
        contain: strict;
    }

    .item-md p, .item-ios p {
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #fff;
    }

    .efaringSegment {
        margin: 4px 0px 0px 4px;
        width: 98%;
    }
}

