<ion-row class="kategori-liste">
    <ion-col>
        <ion-item>
            <ion-searchbar [(ngModel)]="myInput" light [showCancelButton]="true" (ionInput)="onInput($event)" (ionCancel)="isSearchBarOpened=false">
            </ion-searchbar>

            <ion-list class="accordion-list">

                <ion-list-header *ngFor="let category of categories; let i = index" no-lines no-padding >
                    <button ion-item (click)="toggleSection(i)" [ngClass]="{'section-active': category.open, 'section': !category.open}">
                        <ion-icon item-left name="add" *ngIf="!category.open"></ion-icon>
                        <ion-icon item-left name="remove" *ngIf="category.open"></ion-icon>
                        {{ category.navn }}
                    </button>

                    
                    <ion-list *ngIf="subCategories && category.open" no lines>
        
                        <!--second level-->
                        <ion-list-header data-id="{{subCategory.kategorier}}"  style="border: 1px solid #e9e9e9; margin: 3px 0 4px 0;" *ngFor="let subCategory of subCategories" no-lines no-padding>
                            <!--toogle button-->
<!--              
                            <button ion-item  detail-none class="child"  value="{{subCategory}">
                                <ion-icon item-left name="add"></ion-icon>
                                <ion-icon item-left name="close"></ion-icon>
                                {{ subCategory.navn }}
                            </button> -->
                            
                            <!-- direct and button-->
        
                                <ion-item-sliding>
                                    <ion-item class="subKategorier" detail-none  text-wrap>
                                            <h4>{{ subCategory.navn }}</h4>
                                            <p text-lowercase> {{ note }}</p>
                                            <button  color="secondary" ion-button outline item-end (click)="addItem(subCategory.kategorier)">Tilføj</button>
                                            <ion-icon item-end name="swap"></ion-icon>

                                    </ion-item>                                
                                    <ion-item-options side="right">
                                      <button  color="secondary" (click)="presentPrompt()" ion-button ><ion-icon name="book"></ion-icon>
                                    Note</button>
                                    </ion-item-options>
                             </ion-item-sliding>
                        </ion-list-header>
                    </ion-list>
                </ion-list-header>
            </ion-list>
        </ion-item>
    </ion-col>
</ion-row>

