page-home {


    .bgColor {
        background: linear-gradient(rgb(64, 174, 243), rgb(247, 247, 247));
            }

    .loginDesign {
        margin: 0px 31px;
    }

    .logIn, .signUp {
        border-bottom: 1px solid;
        border-radius: 0;
    }

    .logIn  {
       margin: 10px 0 10px 0;
    }

    .item-ios {
        padding-left: 16px;
        padding-left: 16px;
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #ffff;
        background-color: rgba(255, 255, 255, 0);
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }


}
