page-home {

    .toolbar-background-md {
        border-color: #ffffff;
        background-color: #ffffff;
    }

    .toolbar-title-ios,  .toolbar-title-md {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        color: #07d5bd;
        pointer-events: auto;
    }

    .toolbar-background-ios {
        border-color: #ffffff;
        background-color: #ffffff;
    }

    
.progress-outer {
    width: 96%;
    margin: 28px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 5px;
}

.progress-inner {
    min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 0px;
    background-color: blue;
}

.card-title-md, .card-title-ios {
    display: block;
    font-size: 2.4rem;
    line-height: 1.2;
    color:#07d5bd;
    margin: 2px 0;
    padding: 8px 0;
}

ion-item h4 {
    text-align: left;
}

.card {
    margin: 12px;
    border-radius: 5px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.card-md p, .card-ios p {
    margin: 7px 0 7px 0;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    text-align: left;
    color: #666;
}

.homeFirstSection {
    background-color: #07d5bd; 
    margin-bottom: 0;
    color: white;
    padding-left: auto;
    padding-right: auto;
    padding-top: 16px;
    padding-bottom: 5px;
}

.homeFirstSection p, .homeFirstSection h1 {
    text-align: left; 

}

.homeFirstSection h1 {
    font-size: 35px;

}

.homeSecondSection {
    padding: 10px 16px;
    background: #ffff;


}

.callToAction {
        padding: 0px 0px 0px 9px;
        border: 1px solid red;
        border-radius: 4px;
    }


.pMenu1, .pMenu2, .pMenu3 { padding: 20px 4px; text-align: center;}
.pMenu1 {background: #b2ceea;} 
.pMenu2 {background: #90c2ff;}
.pMenu3 {background: #7896ff;}

.pratikMenu {
    background: none;
    color: white;
    padding: 0;
    margin: -4px 0 -4px 0;
}

.pratikMenu p {
    color: white;
    text-align: center;
}

.item-md.item-block .item-inner, .item-ios.item-block .item-inner {
    padding-right: 1px;
    border-bottom: 0px solid #dedede;
}

.bg {
    background: #fafafa;
}

}
