tinder-swiper {
    height: auto;
    display: block;
}

.tinder-swiper {
    background-color: #fff;
    max-height: 0;
    height: 0;
    overflow: hidden;
    transition: height 2s ease;
}

.engaged {
    max-height: 55vh;
    height: 55vh;
    transition: height 2s ease;
}

.tinder-swiper .stack {
    display: flex;
    height: 100%;
    padding: 0px;
    margin: 0;
    justify-content: center;
    overflow: hidden;
}

.tinder-swiper .stack li {
    position: absolute;
    display: flex;
    margin: 0 auto;
    height: 98%;
    width: 100%;
    border: 5px solid #e9e9e9;
    border-radius: 25px;
    background-color: #f6f6f6;
    cursor: -webkit-grab;
}

.tinder-swiper .stack li .erfaring-overskrift {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px;
    height: 15%;
}

.tinder-controls {
    position: absolute;
    bottom: -60px;
    width: 100%;
    /* margin-right: 15px; */
    padding-right: 30px;
    opacity: 0;
    user-select: none;
    transition: bottom 2s;
}

.tinder-controls.controlsEngaged {
    display: block;
    bottom: 30px;
    opacity: 1;
    user-select: auto;
    transition: bottom 2s, opacity .3s;
    ;
}

.tinder-controls .col {
    display: flex;
    justify-content: center;
}

.toast-message {
    font-size: 2.5rem !important;
    text-align: center !important;
}

//     .tinder-swiper #control {
//       position: absolute;
//       bottom: 30px;
//       left: 0;
//       right: 0;
//       text-align: center;
//       font-size: 0; }
//       .tinder-swiper #control button {
//         background: #FFFFFF;
//         color: #373737;
//         font-weight: bold;
//         border: none;
//         font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
//         margin: 0 5px;
//         padding: 10px 15px;
//         cursor: pointer;
//         box-shadow: 0 2px 0 #63211F;
//         outline: none;
//         position: relative; }
//         .tinder-swiper #control button:active {
//           background: #63211F;
//           color: #FFFFFF;
//           bottom: -2px;
//           box-shadow: none; }
//   #source {
//     width: 500px;
//     margin: 20px auto; }
//     #source a {
//       color: #C7433E; }