      <ion-list>
            <ion-item>
                <ion-label>Kategorier</ion-label>
                <ion-select  multiple="true" submitText="ok" cancelText="cancel" [(ngModel)]="hero" (ngModelChange)="options(hero)">
                     <ion-option *ngFor="let hero of heroes">{{ hero }}</ion-option> 
                     <!-- <ion-option value="k2">kategori2</ion-option>
                     <ion-option value="k3">kategori3</ion-option>
                     <ion-option value="k4">kategori4</ion-option>
                     <ion-option value="k5">kategori5</ion-option>
                     <ion-option value="k6">kategori6</ion-option>
                     <ion-option value="k7">kategori7</ion-option>
                     <ion-option value="k8">kategori8</ion-option> -->
                     
                </ion-select>
            </ion-item>
         </ion-list>