<ion-grid>
    <ion-row>
        <ion-col col-sm-6 col-xs-6>
            <ion-item>
                <ion-label ion-datepicker [(value)]="initDate" locale="en-US" clear class="ScheduleDate">
                    <ion-icon name="calendar" style="zoom:2.0;" ></ion-icon>
                    <span class="date">{{initDate | date}}
                    </span>

                    
                </ion-label>
            </ion-item>
        </ion-col>

        <ion-col col-sm-6 col-xs-6>   
                <ion-list style="text-align: center; background-color: #e9e9e9;">
                    <ion-label>Kategorier</ion-label>
                    <ion-select multiple="true" submitText="ok" cancelText="cancel" [(ngModel)]="category" (ngModelChange)="options(hero)">
                        <ion-option *ngFor="let category of categories">{{ category }}</ion-option>
                    </ion-select>
                </ion-list>

        </ion-col>
    </ion-row>
</ion-grid>

<!-- <tinder-swiper (click)="confirm()"></tinder-swiper> -->