erfarings-kategorier {
    display: block;
}

.select-text {
    display: none;
}

.item-md.item-block .item-inner {
    border-bottom: none;
    text-align: center;
}

ion-grid {
    background-color: #07d5bd;
}

.list-ios {
    margin-bottom: 0;
}


.erfarings-kategorier {
}

// .erfarings-kategorier .select {
//     position: absolute;
//     display: none;
// }
.erfarings-kategorier .col .list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.erfarings-kategorier .col .list ion-icon.icon {
    display: flex;
    margin: 0 auto;
    align-self: center;
    height: 100%;
    width: 100%;
}

.erfarings-kategorier .col .list ion-icon.icon:before {
    display: flex !important;
    margin: 0 auto !important;
    align-self: center !important;
}

.erfarings-kategorier .col {
    display: flex;
    justify-content: center;
}

.erfarings-kategorier .col .list ion-select.select {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100% !important;
}

.erfarings-kategorier .col .list ion-select.select .select-icon {
    display: none;
}
.erfarings-kategorier .row .col .item {
    background-color: transparent;
}

// .erfarings-kategorier ion-icon {
//     display: flex;
//     align-self: center;
// }
ion-app.ios [padding] .scroll-content {
    padding: 0;
}

ion-label ion-icon {
    vertical-align: middle;
}

.item-ios.item-block .item-inner {
    padding-right: 0;
    padding-right: 0;
    border-bottom: none;
}

.select-ios {
    padding: 0;
}

.button-small-ios {
    height: 3.1em;
    font-size: 1.3rem;
    padding: 0 0.9em;
}


.ScheduleDate {
    text-align: center;
    
}


.ikonForDato {
    zoom:2.5;
    color: white;
    margin-bottom: 1px;
}

.ikonForErfaring {
    zoom:3;
    color: white;
}
.category-picker p {
    display: flex;
    flex-direction: column;
    margin-top: -1%;
    font-size: 1.4rem;
    color: #fff;
}
   


@media (max-width : 320px) {
    .ikonForDato {
        zoom:1.5;
        color: white;
    }
    
    .ikonForErfaring {
        zoom:2;
        color: white;
    }

    }